@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
html{
    scroll-behavior:smooth ;
}

header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
h1{
    font-family: "Roboto Condensed", serif;
    font-size: 4rem;
    color:red;
    text-shadow: .3rem .4rem 2px black ;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.procurar{
    width: 100%;
    position: absolute;
    margin-right: 1rem;
    top: 21%;
}
.procurar form{
    max-width: 100%;
    max-height: 100%;
    text-align: right;
}
.procurar input{
    border: 1px solid #ccc;
    padding: .5rem 1rem ;
    border-radius: 5px;
   font-size: .8rem;
}


.procurar button{
    margin-right: 4rem;
    background-color: transparent;
    border: 0;
}

 button{
    font-size: 1rem;
    cursor: pointer;
}
.fa{
  margin-right: .3rem;
}

.menu{
    background: #4b6cb7; 
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); 
    background: linear-gradient(to right, midnightblue, #4b6cb7); 
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 6;
    margin-bottom: 1.5rem;
}

.menu li{
    display: inline-block;
}
.menu ul li a{
    color: red;
    margin: 5rem;
    transition: color 2s;
}
.menu a:hover{
    color: black;
    opacity: .8;
}
.info{
    max-width: 100%;
    height: 100%;
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: .1rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 1.8rem;
    margin-bottom: 3rem;
}
.info .fas{
    font-size: 1.7rem;
    padding: .4rem;
}
.info h3{
    text-transform: uppercase;
}
.catalogo{
    max-width: 100%;
    display: block;
    float: left;
    height: 100%;
    margin-left: 6.4rem;
    margin-bottom: 2rem;
    position: relative;
    line-height: 2rem;
}
.catalogo-item{
    float: left;
    padding: .8rem;
    text-align: center;
    border: 2px outset #f2f2f2;
    border-radius: .2rem;
    margin: 1.5rem 2.4rem
}
.lazy-img{
    height: 16rem;
    width: 15rem;
    padding: 2rem;
    cursor: pointer;

}
.lazy-img img{
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    
}
.lazy-img img.loaded{
    opacity: 1;
    transition: opacity 2s;
}

.catalogo-item h3{
    font-family: "Noto Sans",serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    transition: color 2s;
}
 span{
    font-weight: bold;
    color:midnightblue;
}
.link-compra{
    font-weight: bold;
    color:midnightblue;
    padding: .5rem 1rem; 
    color:rgb(128, 128, 128);
    border: 0px solid midnightblue;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: normal;
    border-radius: 5px;
    font-weight: lighter;
    line-height: 3.6rem;
    background-color: rgba(25, 25, 113, 0.274);
    cursor: pointer;
}
.catalogo-item h3:hover{
    color: midnightblue;
    opacity: .9;
}

footer{
    width: 100%;
    height: 50px;
    display: table;
    background: #4b6cb7; 
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); 
    background: linear-gradient(to right, midnightblue, #4b6cb7); 
}
.conteudo-sobre{
    width: 30%;
    float: left;
    display: block;
    position: relative;
    padding-left: 8.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.conteudo-sobre h3{
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 2rem;
    border-bottom: 2px solid black;
    display: block;
    margin-block-start: .4rem;
    margin-block-end: .5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.conteudo-sobre p{
    font-weight: normal;
    font-size: 1.1rem;
    display: block;
}
.conteudo-pagamento{
    width: 100%;
    display: block;
   
}
.conteudo-pagamento h3{
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.4rem;
   padding-bottom: 1rem;
    margin-block-start: .1rem;
    margin-block-end: 0;
    margin-inline-start: 3rem;
    margin-inline-end: 0;
    float: left;
    border-bottom: 2px solid black;
    display: block;
}
.img-pagamento{
    max-width: 100%;
    margin-bottom: 2rem;
    float: left;
    margin-block-start: 6.8rem;
    margin-block-end: .3rem;
    margin-inline-start: 0;
    margin-inline-end: 6rem;
    margin-left: -11rem;
}
.img-pagamento img{
    width: 3rem;
    height: 2rem;
}
.conteudo-redes{
    width: 25%;
    float: left;
    padding-left: 4rem;
    display: block;
    padding-bottom: 2rem;
}
.conteudo-redes h3{
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 2px solid black;
    display: block;
    margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start:.6rem;
    margin-inline-end:1rem;
    
}
.conteudo-redes i{
    width: 30%;
    font-size: 1.6rem;
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end:0;
    float: left;
    cursor: pointer;
}
.conteudo-direitos{
 text-align: right;
 margin-inline-end: 2rem;
 letter-spacing: .1rem;
}
/* RESPONSIVIDADE */
/* 1200px */
@media screen and (max-width: 1200px) {
    .menu ul li a{
        margin: 3.6rem;
    }
    .catalogo-item{
       margin: .7rem .5rem
    }
    .rodape h3{
        font-size: 1.6rem;
    }
    
}
/* 960px*/
@media screen and (max-width: 960px){
    h1{
        font-size: 3.5rem;
    }
    .procurar input{
        padding: .3rem .7rem;
    }
    .menu{
        font-size: 1rem;
    }
    .menu ul li a{
        margin: 3rem;
    }
    .info{
        font-size: .9rem;
        margin-left: 4.2rem;
    }
    .catalogo{
        padding: .4rem;
    }
    .catalogo-item{
        margin: .8rem .7rem;
    }
    .rodape h3{
        font-size: 1.65rem;
    }
    .conteudo-sobre{
        width: 25.31%;
    }
    .conteudo-sobre p{
        font-size: 1rem;
    }
    .img-pagamento img{
        height: 1.7rem;
        width: 1.7rem;
       text-align: right;
    }
    .conteudo-direitos p {
     line-height: 4rem;
    }
}
/* 768px */
@media screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    .procurar input{
        padding: .3rem .4rem;
        margin-top: 1.9rem;
    }
    .menu ul li a{
        margin: 1.5rem
    }
    .info{
        font-size: .8rem;
        margin-left: 4rem;
        margin-bottom: 1.6rem;
    }
    .info .fas{
        font-size: 1.4rem;
    }
    .catalogo-item{
        padding: .7rem;
    }
    .lazy-img{
        height: 13rem;
        width: 13rem;
        padding: 1.2rem;
    }
    .lazy-img img{
       width: 65%;
       height: 65%;
    }
    .catalogo h3{
        font-size: 1rem;
    }
    .link-compra{
        padding: .3rem 1rem;
        font-size: 1rem;
        line-height: 3.1rem;
    }
    .rodape h3{
        font-size: 1.45rem;
    }
    .conteudo-sobre{
        display: none;
    }
    .conteudo-sobre p{
        display: none;
    }
    .conteudo-pagamento{
        width: 60%;
        padding-left: 3.8rem;
    }
    .img-pagamento img{
        height: 1.6rem;
        width: 1.8rem;
        padding-left: 1.5rem;
    }
    .conteudo-redes{
        padding-left: 0;
    }
    .conteudo-redes h3{
        padding-top: 2.3rem;
        margin-inline-start:0;
        margin-inline-end:2rem;
    }

    .conteudo-redes i{
        margin-block-start: 2rem;
    }
    .conteudo-direitos p {
     display: block;
     line-height: none;
    }
}